body{
    display: grid;
    grid-template-columns: 1fr;
    

}

.container{
    display: grid;
grid-template-columns: 400px 1fr 400px;

}


.container > .left-bottom{
 grid-column: 1/2;

 
 width: 50%;
 margin-left: 140px;
 margin-top: 80px;


 
 
 
 
 
 
 
 
 



}

.container > .left-bottom> h1{

    font-size: 44px;
    width: 100%;
    
    
}

.container > .left-bottom> p{

    font-size: 24px;
    width: 100%;
    text-align: left;
    
  

}

.container > .right-bottom {
    grid-column: 3/4;
    width: 66%;
    margin-top: 60px;
    
    
    
   
   
   
   }

.container > .left-top {
    grid-column: 1/2;
    margin-top: 20px;
    margin-left: 60px;
    height: 50px;

  
    
   
   
   
   }
   .container > .right-top {
    grid-column: 3/4;
    
    margin-top: 25px;
    height: 50px;
   
   
   
   }

   .container > .right-top> a {
    
        text-decoration: none;
        font-size:12px;
        margin-left: 15px;
        color: burlywood;
        padding: 2px;
        border: 2px solid transparent;
   
   
   }

   .container > .right-top> a:last-of-type{
        text-transform: uppercase;
        border-color: burlywood;
        border-radius: 23px;


    
    }


    @media ( max-width: 750px){
        .container{
            
        grid-template-columns: 300px 1fr 300px;
        
        }

        .container > .left-top {
            grid-column: 1/2;
            margin-top: 20px;
            margin-left: 100px;
            height: 50px;
        


    }

    .container > .left-top {
        grid-column: 1/2;
        margin-top: 20px;
        margin-left: 140px;
        height: 50px;
    
      
        
       
       
       
       }

    


    }

   @media( max-width: 600px){

    .container > .right-bottom {
        grid-column: 1/2;
        width: 66%;
        margin-top: 60px;
        margin-left: 50px;
        
        
        
       
       
       
       }
       .container > .right-top {
        grid-column: 1/2;
        
        margin-top: 25px;
        height: 50px;
       
       
       
       }

       .container > .left-bottom{
        grid-column: 1/2;
       
        
        width: 50%;
        margin-left: 100px;
        margin-top: 80px;
       
       
        
        
        
        
        
        
        
        
        
       
       
       
       }

       


   }